{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Settlers of Govhack 2014</title>

    <!-- Core CSS - Include with every page -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Forms -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Settlers of Govhack</a>
            </div>
            <!-- /.navbar-header -->
 <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a href="/static/leaflet/index.html">Gini Map</a>
		</li>
		<li class="dropdown">
			<a href="http://govhack2014.scriptforge.org/?p=172">Other Graph Prototypes</a>
		</li>
		<li class="dropdown">
			<a href="http://govhack2014.scriptforge.org/">Project Blog</a>
		</li>
</ul>

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Compare Two Areas<span class="fa arrow"></span></a>

				<li><em id="compwith">Compare:</em></li>
                                <li>
                                    <div class="radio"> 
                                      <label>
                                        <input type="radio" name="compare-a" id="optionsRadios1" value="national" checked> Australia
                                      </label>
                                    </div>
				</li>
				<li>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="compare-a" id="optionsRadios2" value="state"> State
                                      </label>
                                    </div>
                                </li>
                                <li class="sidebar-inputs" id="compare-a-li-state" style="display: none;">
                                        <div class="form-group">
                                            <select class="form-control" name="lookup-state" id="compare-a-state">
                                                <option value="NSW">NSW</option>
                                                <option value="VIC">VIC</option>
                                                <option value="QLD">QLD</option>
                                                <option value="WA">WA</option>
                                                <option value="TAS" selected>TAS</option>
                                                <option value="NT">NT</option>
                                                <option value="ACT">ACT</option>
                                                <option value="SA">SA</option>
                                            </select>
                                        </div>                                                      
                                </li>
				<li>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="compare-a" id="optionsRadios2" value="postcode"> Postcode
                                      </label>
                                    </div>
                                </li>
                                <li class="sidebar-inputs" id="compare-a-li-postcode" style="display:none;">
                                    <div class="input-group custom-search-form">
                                        <input type="text" class="form-control" id="compare-a-postcode" placeholder="Postcode...">
                                    </div>
                                    <!-- /input-group -->
                                </li>
				<li>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="compare-a" id="optionsRadios2" value="electorate"> Electorate
                                      </label>
                                    </div>
                                </li>
				<li class="sidebar-inputs" id="compare-a-li-electorate" style="display: none;">
                                        <div class="form-group">
                                            <select class="form-control" name="compare-a-electorate" id="compare-a-electorate">
					{% for e in electorates %}
						<option value="{{ e.code }}">{{ e.name }}</option>
					{% endfor %}
                                            </select>
                                        </div>                                                      
                                    <!-- /input-group -->
                                </li>
				<li><em id="compwith">Compare with:</em></li>
                                <li>
                                    <div class="radio"> 
                                      <label>
                                        <input type="radio" name="compare-b" id="compare-b" value="national" checked> Australia
                                      </label>
                                    </div>
				</li>
				<li>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="compare-b" id="compare-b" value="state"> State
                                      </label>
                                    </div>
                                </li>
                                <li id="compare-b-li-state" class="sidebar-inputs" style="display: none;">
                                        <div class="form-group">
                                            <select class="form-control" id="compare-b-state" name="lookup-state">
                                                <option value="NSW">NSW</option>
                                                <option value="VIC">VIC</option>
                                                <option value="QLD">QLD</option>
                                                <option value="WA">WA</option>
                                                <option value="TAS" selected>TAS</option>
                                                <option value="NT">NT</option>
                                                <option value="ACT">ACT</option>
                                                <option value="SA">SA</option>
                                            </select>
                                        </div>                                                      
                                </li>
				<li>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="compare-b" id="compare-b" value="postcode"> Postcode
                                      </label>
                                    </div>
                                </li>
                                <li class="sidebar-inputs" id="compare-b-li-postcode" style="display:none;">
                                    <div class="input-group custom-search-form">
                                        <input type="text" id="compare-b-postcode" class="form-control" placeholder="Postcode...">
                                    </div>
                                    <!-- /input-group -->
                                </li>
				<li>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="compare-b" id="compare-b" value="electorate"> Electorate
                                      </label>
                                    </div>
                                </li>
				<li class="sidebar-inputs" style="display: none;" id="compare-b-li-electorate">
                                        <div class="form-group">
                                            <select class="form-control" name="compare-b-electorate" id="compare-b-electorate">
					{% for e in electorates %}
						<option value="{{ e.code }}">{{ e.name }}</option>
					{% endfor %}
                                            </select>
                                        </div>                                                      
                                    <!-- /input-group -->
                                </li>
				<li class="sidebar-inputs">
					<button type="button" class="btn btn-primary" id="go-compare">Go!</button>
				</li>

                        </li>
			<li><img class="img-responsive logo" src="{% static 'img/govhacknew.png' %}"></li>

                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 id="panel0-heading" class="panel-title">
                      About The Settlers App
                  </h4>
                </div>
                  <div class="panel-body" id="panel0-content">
			<p>“The Settlers” App is designed as an are comparison tool for comparing the Gini Coefficient, a measurement of income equality with the Fiscal Freedom Index, a measurement of an areas degree of tax liability. Due to the complexity of calculating such statistics by hand, this app provides a quick and invaluable tool  for everyone to be able to understand and interpret these key characteristics with ease.</p>
			<p>Using the left hand side Selection tool, under the subtitle “Compare”  select areas either National, State, Electorate or given postcode. The graphs are generated on the right hand side to display those statistics of each of the two areas selected under each  subtitle respectively.</p>
                  </div>
              </div>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4  id="panel2-heading" class="panel-title">
                      Inequality Coefficient
                  </h4>
                </div>
                  <div class="panel-body" id="panel2-content"><p>The Gini Coefficient is a number with the range  of 0 to  1 that represents how far away an area is from achieving a state of perfect equality. A Gini Coefficient value of 1 represents perfect equality, defined as a state of affairs were a given percentage of income is perfectly and evenly distributed equally to  the same percentage of the population. A value of 0 represents a state of perfect inequality.</p>
			<p>For a more detailed discussion on the index, please press the “About” Button Below.</p>
                    <button class="btn btn-primary btn-md mdl-btn-padding" data-toggle="modal" data-target="#myModal">About Gini Coefficient</button>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 id="panel1-heading" class="panel-title">
                      Comparing Individual Income
                  </h4>
                </div>
                  <div class="panel-body" id="panel1-content">
			<p>Selecting two areas of the country will display a
			graph that compares income levels of individuals
			residing in these areas.</p>
                  </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 id="panel3-heading" class="panel-title">
                      Fiscal Freedom Index
                  </h4>
                </div>
                  <div class="panel-body">
			<div id="freedom-map"><iframe id="fiscalmap" src="{% static 'leaflet/fiscal.html' %}" frameborder="0" scrolling="false"></iframe></div>
			<div id="freedom-explain">
				<p>The freedom index identifies three factors that determine the level of fiscal freedom experienced within a given area. The freedom index represents a score between 0 and 100. A score of 100 represents a state of perfect fiscal freedom (tax free) while a score of 0 represents a state of imperfect fiscal freedom (an absolue 100% tax rate).</p>
				<p>For a more detailed discussion on the index, please press the “About” Button Below.</p>
                    <button class="btn btn-primary btn-md mdl-btn-padding" data-toggle="modal" data-target="#myModal-freedom">
                      About Fiscal Freedom Index
                    </button>
			</div>
                </div>
              </div>
            </div>

                   <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Method of Calculating the Gini Coefficient</h4>
                          </div>

                          <div class="modal-body">
                            <h2>About</h2>
                            <p>The Gini Coefficient was first created by Corrado Gini and published in his 1912 paper “Variability and Mutability”. The coefficient is a value between the range of 0 and 1  that represents the distribution of income amongst the population for a particular area. A Gini coefficient of 1 represents a state of perfect income equality ie. each person receives the exactly the same amount of income. Conversely, a Gini coefficient of 0 represents a state of perfect income Inequality ie. There is a large amount of difference between the distribution of income between individuals within that area.</p>

                            <h2>Figure 1: Dr Corrado Gini</h2>  

                            <img class="img-responsive img-rounded" src="{% static 'img/img1.gif' %}">

                            <p>Although a measure of income equality is important and useful in itself, Economists have found correlations between the Gini Coefficient and other social and economic statistics such as GDP (Malinen(2008), Mekenbayeva et al (2011) and Heilmann (2009)) and measurements of happiness (Williams(2009) and Oishi et al (2011)).</p>

                            <h2>Figure 2: Gini Coefficient Theory</h2>

                            <img class="img-responsive img-rounded" src="{% static 'img/img2.gif' %}">

                            <p>Figure 1 demonstrates how the Gini Coefficient is theoretically calculated.  The “45 degree Line” demonstrates the points of perfect equality within the economy. A “Lorenz curve” is then plotted on the same graph demonstrating how income is distributed in the real economy relative to the state of perfect equality.

                            The Area labelled B is calculated by taking the integral of the Lorenz curve.  Area A can then be derived easily by subtracting Area B from the integral of the function of the 45 degree line.

                            Finally the Gini Coefficient is calculated as the ratio of the two areas, ie A/(A+B). It is interpreted as the percentage deviation from the state of perfect equality.</p>

                            <h2>Settler’s Methodology</h2>

                            <p>The Methodology used by Settlers creates an approximation of the Gini Coefficient. Firstly it the app assumes that the highest income earnt in a given area is 4,000 per week. This assumption is due to the grouped nature of the census data provided. This assumption is plausible due to the likelihood of only a very small percentage of the population earning greater than this value. Furthermore average percentage income is used as proxy for percentage income, once again this is due to data limitations within the census.<br>

                            Finally, the methodology used by Settlers in order to calculate are B in figure 1 is interpolation, rather than the use of calculus. Interpolation uses straight line estimation rather than exact estimation of a curved regression. It is because of this use of interpolation that the estimates are an approximation of the true Gini Coefficient.</p>

                            <h2>References</h2>

                            <ul>
                                <li>Williams, Kiley (2009) “The Correlation between Happiness and Inequality”, Oshkosh Scholar, Volume IV Fall 2009</li>
                                <li>Oishi  Shigehiro, Kesebir Selin and Diener Ed (2011) “Income Inequality and Happiness”, APS Psychological Science, pg 1095-1100</li>
                                <li>Malien, Tuomas (2008) “Estimating the Long Run Relationship Between Income Inequality and Economic Development”, University of Helsinki, Discussion Paper No. 634:2008,10th  August 2008.</li>
                                <li>Mekenbayeva, Kamila and Semih, Baris (2011) “Income Inequality and Economic Growth: Enhancing or Retarding Impact, Edge University May 2011.</li>
                                <li>Heilman, Kilian (2009) “Measuring the Effect of Income Distribution on Economic Growth”, University of Nottingham, Economic Data Analysis Autumn Term 2009.</li>
                            </ul>
                                
                          </div>
                          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                   <!-- Modal -->
                    <div class="modal fade" id="myModal-freedom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Method of Calculating the Fiscal Freedom Index</h4>
                          </div>

                          <div class="modal-body">
<h2>About</h2>

<p>The Fiscal Freedom Index is developed by Heritage.org as one of twelve components of its "Economic Freedom Index". The component focuses on measuring the degree of freedom of choice in private spending by measuring the degree of effects of taxation upon private consumption.</p>
<img src="{% static 'img/dollar.jpg' %}">

<p>As demonstrated by "The Fiscal Freedom" description page of the Heritage.org website,  the index is calculated by accounting for three unique factors:</p>
<ol>
    <li>Top Marginal Tax Rate</li>
    <li>Top Marginal Tax Rate for Corporations</li>
    <li>Tax payable as a percentage of Gross Domestic Product.</li>
</ol>
<p>Each factor is given equal weight within the index and is converted into a 100-point scale using the following formula:</p>

<pre>Factor = 100-a(Factor)^2</pre>

<p>Where a is a constant set at 0.03 and Factor is a percentage given in whole numbers. Following the conversion of each factor into is respective 100-point scale, the three factors are then averaged to calculate the final Fiscal Freedom Index.</p>

<h2>Settlers Methodology</h2>

<p>The methodology used by the Settlers App does not differ dramatically from that described above except for two limitations within the census data set.</p>

<ol>
    <li>GDP data is only available for each state respectively (not postcode).</li>
    <li>Corporate Tax rates are constant at 30% within Australia.</li>
</ol>

<h2>References</h2>
<ul>
    <li>Fiscal Freedom, <a href="www.google.com.au/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&sqi=2&ved=0CBwQFjAA&url=http%3A%2F%2Fwww.heritage.org%2Findex%2Ffiscal-freedom&ei=nPjAU663K8eokQW0zYDQDA&usg=AFQjCNFkOvpoTfsWASkiLmRl2cq7txIZyg&bvm=bv.70810081,d.dGI">Heritage.org</a>
    <li>Heritage.org, <a href="http://www.heritage.org/index/">Heritage.org</a>
</ul>                                
                          </div>
                          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
        </div><!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/jquery.colorhelpers.js' %}"></script>
    <script src="{% static 'js/jquery.flot.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'js/jquery.flot.stackpercent.js' %}"></script>
	<script src="{% static 'js/jquery.flot.axislabels.js' %}"></script>
	<script src="{% static 'js/FiscalFreedom.js' %}"></script>	
    <!-- Page-Level Plugin Scripts - Forms -->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{% static 'js/sb-admin.js' %}"></script>

    <!-- Page-Level Demo Scripts - Forms - Use for reference -->

    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<!-- Andrew's functions -->
	<script type="text/javascript" src="{% static 'js/Gini.js' %}"></script>
	
<script>

lookup = {};
comparea = {};
compareb = {};
gdp = {};
taxagg = {};

var get_fiscal_freedom_b = function(atype, region) {
	if (atype == 'national') {
		freedom = CalcFiscalFreedom(gdp.gdp.aust, taxagg.net_tax, taxagg.taxable_income, taxagg.individuals);
		$('#freedomdivb').html('<p>Fiscal freedom index for ' + comparea.region + ' is ' + freedom);
	} else if (atype == 'state') {
		freedom = CalcFiscalFreedom(gdp.gdp[region], taxagg.net_tax, taxagg.taxable_income, taxagg.individuals);
		$('#freedomdivb').html('<p>Fiscal freedom index for ' + comparea.region + ' is ' + freedom);	
	} else if (atype == 'postcode') {
		freedom = CalcFiscalFreedom(gdp.gdp.aust, taxagg.net_tax, taxagg.taxable_income, taxagg.individuals);
		$('#freedomdivb').html('<p>Fiscal freedom index for ' + comparea.region + ' is ' + freedom);
	}
}
var get_fiscal_freedom_a = function(atype, region) {
	if (atype == 'national') {
		freedom = CalcFiscalFreedom(gdp.gdp.aust, taxagg.net_tax, taxagg.taxable_income, taxagg.individuals);
		$('#freedomdiv').html('<p>Fiscal freedom index for ' + comparea.region + ' is ' + freedom);
	} else if (atype == 'state') {
		freedom = CalcFiscalFreedom(gdp.gdp[region], taxagg.net_tax, taxagg.taxable_income, taxagg.individuals);
		$('#freedomdiv').html('<p>Fiscal freedom index for ' + comparea.region + ' is ' + freedom);	
	} else if (atype == 'postcode') {
		freedom = CalcFiscalFreedom(gdp.gdp.aust, taxagg.net_tax, taxagg.taxable_income, taxagg.individuals);
		$('#freedomdiv').html('<p>Fiscal freedom index for ' + comparea.region + ' is ' + freedom);
	}
}

var display_compare = function() {
	
	// get the data ready
	
	// Gini Coefficient Data
	var popa = [];
	var popb = []
	for (var i=0; i<comparea.income.length; i++) {
		if (comparea.income[i].band != 'NA') {
			popa.push(comparea.income[i].value);
		}
	}
	for (var i=0; i<compareb.income.length; i++) {
		if (compareb.income[i].band != 'NA') {
			popb.push(compareb.income[i].value);
		}
	}
	var ginia = CalcGiniForRegion(popa);
	var ginib = CalcGiniForRegion(popb);

	gadata = [];
	gbdata = [];
	for (var i=0; i<ginia.cumul_income.length; i++) {
		gadata.push([ginia.cumul_population[i], ginia.cumul_income[i]]);
	}
	for (var i=0; i<ginib.cumul_income.length; i++) {
		gbdata.push([ginib.cumul_population[i], ginib.cumul_income[i]]);
	}

	// Income percentage data
	var data = new Array(2);
	data[0] = {"label": comparea.region, "data": [], "color":"#B41722" };
	data[1] = {"label": compareb.region, "data": [], "color":"#E78800" };
	for (var i=0; i<comparea.income.length; i++) {
		data[0].data[i] = [comparea.income[i].bandorder, comparea.income[i].value];
	}
	for (var i=0; i<compareb.income.length; i++) {
		data[1].data[i] = [compareb.income[i].bandorder, compareb.income[i].value];
	}

	// set up the charts
	var gaoptions = {
        	series: {
			lines: { show: true },
			points: { show: true },
	        },
        	legend : {
            		container : "#comparechart2-legend",
            		noColumns : 2
        	},
        	axisLabels: {
        		show: true
        	},
        	xaxis: {max:1},
        	yaxis: {max:1},
        	xaxes: [{
        		axisLabel: '% Population (cumulative)',
        		position: 'center',
        	}],
        	yaxes: [{
        		axisLabel: '% Income (cumulative)',
        		postion: 'center',
        	}],
		};
	var gboptions = {
        	series: {
			lines: { show: true },
			points: { show: true },
	        },
        	legend : {
            		container : "#comparechart3-legend",
            		noColumns : 2
        	},
        	axisLabels: {
        		show: true
        	},
        	xaxis: {max:1},
        	yaxis: {max:1},
        	xaxes: [{
        		axisLabel: '% Population (cumulative)',
        		position: 'center',
        	}],
        	yaxes: [{
        		axisLabel: '% Income (cumulative)',
        		postion: 'center',
        	}],

		};
	var options = {
        	series: {
	        	stackpercent : true,    // enable stackpercent
			bars: {
				show: true,
				barWidth: 0.6,
				fillColor: {
                		colors:[{opacity: 1},{opacity: 1}]
                	},
                	align: "center"
        	}
        },
        legend : {
            container : "#comparechart1-legend",
            noColumns : 2
        },
        xaxis: {ticks: []},
        yaxis: {max:100}  // so the yaxis is from 0 to 100
	};

    	for (var i=0; i<comparea.income.length; i++) {
 		options.xaxis.ticks.push([comparea.income[i].bandorder, comparea.income[i].band]);
    	}
	// Set up the panels
	$('#panel1-heading').html('Comparing ' + comparea.region + ' and ' + compareb.region);
	var paneldiv = '<div id="comparechart1-legend" style="width:600px;height:25px"></div><div id="comparechart1" style="width:600px;height:300px"></div>' +
'<div id="compare-explain"><p>Selecting two areas of the country will display a graph that compares income levels of individuals	residing in these areas.</p></div>';
	$('#panel1-content').html(paneldiv);

	$('#panel2-heading').html('Inequality Coeficcients of ' + comparea.region + ' and ' + compareb.region);
	var p2div = '<div id="chart3-container"><h4>Coefficient for ' + compareb.region + ': ' + ginib.coeff + '</h4><div id="comparechart3-legend"></div><div id="comparechart3"></div></div>'+
'<div id="chart2-container"><h4>Coefficient for ' + comparea.region + ': ' + ginia.coeff + '</h4><div id="comparechart2-legend"></div><div id="comparechart2"></div>' +
'<div id="geni-explain"><p>The Gini Coefficient is a number with the range  of 0 to  1 that represents how far away an area is from achieving a state of perfect equality. A Gini Coefficient value of 1 represents perfect equality, defined as a state of affairs were a given percentage of income is perfectly and evenly distributed equally to  the same percentage of the population. A value of 0 represents a state of perfect inequality.</p><p>For a more detailed discussion on the index, please press the “About” Button Below.</p></div>' +
'<button class="btn btn-primary btn-md mdl-btn-padding" data-toggle="modal" data-target="#myModal">About Gini Coefficient</button></div>';
	$('#panel2-content').html(p2div);

	// Plot the charts
	$.plot("#comparechart1", data, options);
	$.plot("#comparechart2", [{ 'label': 'Lorenz curve', 'data': gadata}, { 'label': 'Equality', 'data': [[0, 0], [1, 1]] } ], gaoptions);
	$.plot("#comparechart3", [{ 'label': 'Lorenz curve', 'data': gbdata}, { 'label': 'Equality', 'data': [[0,0], [1,1]]}], gboptions);	

};

var compare_postcode_postcode = function(pa, pb) {
	$.ajax({
		url: '/api/census/income/postcode/' + pa + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/postcode/' + pb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});
			$.ajax({
				url: '/api/tax/income/postcode/' + pa + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					taxagg = data;
					get_fiscal_freedom_a('postcode', pa);
				},
			});
			$.ajax({
				url: '/api/tax/income/postcode/' + pb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					taxagg = data;
					get_fiscal_freedom_b('postcode', pb);
				},
			});

		},
	});
};

var compare_postcode_national = function(pa) {
	$.ajax({
		url: '/api/census/income/postcode/' + pa + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/region/' + 'AUST' + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};


var compare_postcode_region = function(pa, rb) {
	$.ajax({
		url: '/api/census/income/postcode/' + pa + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/region/' + rb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_postcode_electorate = function(pa, eb) {
	$.ajax({
		url: '/api/census/income/postcode/' + pa + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/electorate/' + eb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_region_region = function(ra, rb) {
	$.ajax({
		url: '/api/census/income/region/' + ra + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/region/' + rb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_region_national = function(ra) {
	$.ajax({
		url: '/api/census/income/region/' + ra + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/region/' + 'AUST' + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_region_postcode = function(ra, pb) {
	$.ajax({
		url: '/api/census/income/region/' + ra + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/postcode/' + pb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_region_electorate = function(ra, eb) {
	$.ajax({
		url: '/api/census/income/region/' + ra + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/electorate/' + eb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_national_national = function() {
	$.ajax({
		url: '/api/census/income/region/' + 'AUST' + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/region/' + 'AUST' + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_national_region = function(rb) {
	$.ajax({
		url: '/api/census/income/region/' + 'AUST' + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/region/' + rb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_national_postcode = function(pb) {
	$.ajax({
		url: '/api/census/income/region/' + 'AUST' + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/postcode/' + pb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_national_electorate = function(eb) {
	$.ajax({
		url: '/api/census/income/region/' + 'AUST' + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/electorate/' + eb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_electorate_electorate = function(ea, eb) {
	$.ajax({
		url: '/api/census/income/electorate/' + ea + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/electorate/' + eb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_electorate_national = function(ea) {
	$.ajax({
		url: '/api/census/income/electorate/' + ea + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/region/' + 'AUST' + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var compare_electorate_region = function(ea, rb) {
	$.ajax({
		url: '/api/census/income/electorate/' + ea + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/region/' + rb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};


var compare_electorate_postcode = function(ea, pb) {
	$.ajax({
		url: '/api/census/income/electorate/' + ea + '/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			comparea = data;
			$.ajax({
				url: '/api/census/income/postcode/' + pb + '/',
				method: 'get',
				dataType: 'json',
				success: function(data) {
					compareb = data;
					display_compare();
				},
			});

		},
	});
};

var go_compare = function() {
	$.ajax({
		url: '/api/gdp/',
		method: 'get',
		dataType: 'json',
		success: function(data) {
			gdp = data;
		},
	});

	// find out which radio button is checked
	var compradioa = $("input[name=compare-a]:checked").val();
	var compradiob = $("input[name=compare-b]:checked").val();
	var postcodea = $('#compare-a-postcode').val();
	var postcodeb = $('#compare-b-postcode').val();
	var regiona = $('#compare-a-state').val();
	var regionb = $('#compare-b-state').val();
	var electa = $('#compare-a-electorate').val();
	var electb = $('#compare-b-electorate').val();
	if (compradioa == 'postcode' && compradiob == 'postcode') {
		// validate postcode and go
		if (postcodea.length == 4 && postcodeb.length == 4) {
			compare_postcode_postcode(postcodea, postcodeb);
		}
	} else if (compradioa == 'postcode' && compradiob == 'national') {
		if (postcodea.length == 4) {
			compare_postcode_national(postcodea);
		}
	} else if (compradioa == 'postcode' && compradiob == 'state') {
		if (postcodea.length == 4) {
			compare_postcode_region(postcodea, regionb);
		}
	} else if (compradioa == 'postcode' && compradiob == 'electorate') {
		if (postcodea.length == 4) {
			compare_postcode_electorate(postcodea, electb);
		}
	} else if (compradioa == 'state' && compradiob == 'state') {
		compare_region_region(regiona, regionb);
	} else if (compradioa == 'state' && compradiob == 'national') {
		compare_region_national(regiona);
	} else if (compradioa == 'state' && compradiob == 'postcode') {
		if (postcodeb.length == 4) {
			compare_region_postcode(regiona, postcodeb);
		}
	} else if (compradioa == 'state' && compradiob == 'electorate') {
		compare_region_electorate(regiona, electb);
	} else if (compradioa == 'national' && compradiob == 'national') {
		compare_national_national();
	} else if (compradioa == 'national' && compradiob == 'state') {
		compare_national_region(regionb);
	} else if (compradioa == 'national' && compradiob == 'postcode') {
		if (postcodeb.length == 4) {
			compare_national_postcode(postcodeb);
		}
	} else if (compradioa == 'national' && compradiob == 'electorate') {
		compare_national_electorate(electb);
	} else if (compradioa == 'electorate' && compradiob == 'electorate') {
		compare_electorate_electorate(electa, electb);
	} else if (compradioa == 'electorate' && compradiob == 'national') {
		compare_electorate_national(electa);
	} else if (compradioa == 'electorate' && compradiob == 'state') {
		compare_electorate_region(electa, regionb);
	} else if (compradioa == 'electorate' && compradiob == 'postcode') {
		if (postcodeb.length == 4) {
			compare_electorate_postcode(electa, postcodeb);
		}
	}
};

$(document).ready(function() {

	$("#go-lookup").click(function() { 
		go_lookup(); 
	});

	$("#go-compare").click(function() {
		go_compare();
	});

$('.onlyNumbers').bind('keydown', function(event) {
	var keyCode = event.which;
	var isStandard = (keyCode > 47 && keyCode < 58);
	var isExtended = (keyCode > 95 && keyCode < 106);
	var validKeyCodes = ',8,37,38,39,40,46,';
	var isOther = (validKeyCodes.indexOf(','+ keyCode + ',') > -1);
	if (isStandard || isExtended || isOther) {
		return true;
	} else {
		return false;
	}
}).bind('blur', function() {
	var pattern = new RegExp('[^0-9]+', 'g');
	var $input = $(this);
	var value = $input.val();
	value = value.replace(pattern, '');
	$input.val(value);
});

$('input[name=compare-a]').click(function() {
	var selection = $('input[name=compare-a]:checked').val();
	console.log(selection);
	if (selection == 'postcode') {
		$('#compare-a-li-state').css("display", "none");
		$('#compare-a-li-electorate').css("display","none");
		$('#compare-a-li-postcode').css("display","block");
	} else if (selection == 'state') {
		$('#compare-a-li-state').css("display","block");
		$('#compare-a-li-electorate').css("display","none");
		$('#compare-a-li-postcode').css("display","none");
	} else if (selection == 'electorate') {
		$('#compare-a-li-state').css("display","none");
		$('#compare-a-li-electorate').css("display","block");
		$('#compare-a-li-postcode').css("display","none");
	} else {
		$('#compare-a-li-state').css("display","none");
		$('#compare-a-li-electorate').css("display","none");
		$('#compare-a-li-postcode').css("display","none");
	}
});

$('input[name=compare-b]').click(function() {
	var selection = $('input[name=compare-b]:checked').val();
	if (selection == 'postcode') {
		$('#compare-b-li-state').css("display", "none");
		$('#compare-b-li-electorate').css("display","none");
		$('#compare-b-li-postcode').css("display","block");
	} else if (selection == 'state') {
		$('#compare-b-li-state').css("display","block");
		$('#compare-b-li-electorate').css("display","none");
		$('#compare-b-li-postcode').css("display","none");
	} else if (selection == 'electorate') {
		$('#compare-b-li-state').css("display","none");
		$('#compare-b-li-electorate').css("display","block");
		$('#compare-b-li-postcode').css("display","none");
	} else {
		$('#compare-b-li-state').css("display","none");
		$('#compare-b-li-electorate').css("display","none");
		$('#compare-b-li-postcode').css("display","none");
	}
});



});
</script>

</body>

</html>
