/****************************************************************************************************
UNORGANIZED CSS
****************************************************************************************************/
h4 {
	font-weight: bold;
}
.nav .radio{
	padding-left: 36px;
	padding-bottom: 0px;
}

#accordion{
	padding-top: 20px;
}

.sidebar-inputs {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#chart2-container {
	padding-left: 20px;
}

#chart3-container {
	float: right;
	padding-right: 20px;
}

#comparechart2-legend {
	width: 300px;
	height: 25px;
}

#comparechart2 {
	padding-bottom: 10px;
	width: 300px;
	height: 300px;
}

#comparechart3-legend {
	width: 300px;
	height: 25px;
}

#comparechart3 {
	width: 300px;
	height: 300px;
	padding-bottom: 10px;
}

#compwith {
	padding-left: 15px;
}

#geni-explain {
	clear: left;
	padding-top: 15px;
}

#compare-explain {
	clear: left;
	padding-top: 15px;
}

#fiscalmap {
	width: 820px;
	height: 520px;
}

/*END: UNORGANIZED CSS
****************************************************************************************************/